<div class="container main-container">
    <h1>Canal de Youtube</h1>
    <hr>

    <div class="card-columns" *ngIf="videos.length > 0">
        <div class="card animated fadeIn fast" *ngFor="let video of videos">
          <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{video.title}}</h5>
            <button (click)="verVideo(video)" type="button" class="btn btn-danger btn-block">
                Ver vídeo
            </button>
          </div>
        </div>
    </div>
</div>